body{
    background: url("./img/space.png");
    background-size:100vw;
    margin:  0px;
    width: 100vw;
    background-attachment:fixed;
}
button{
    outline:none;
}
.black-background{
    background: rgba(0,0,0,1);
    transition: 1.5s;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1600px){
    .content{
        width: 1500px;
    }
    .saying{
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 24px;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px){
    .content{
        width: 900px;
    }
    .saying{
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 24px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 600px){
    .content{
        width: 500px;
    }
}
@media screen and (max-width: 600px){
    .content{
        width: 300px;
    }
}
.doctor-part{
    width: 100%;
    height: 150px;/* 高度用到 px */
    display: flex;
    flex-direction: row;
    border-bottom: brown solid 3px;
}
.next-stage-button-place{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.next-stage-button{
    display: none;
}
.doctor-place{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.doctor{
    background: url("./img/suit.png");
    height: 40%;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: 2s linear;
}
.talk-place{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.saying{
    width: 80%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.planet-part{
    margin: 50px;
    width: 100%;
    height: 300px;/* 高度用到 px */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    transition: all 1s;
}
.side-planet-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dream-button{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:0px;
    box-shadow: 0px 0px 5px 1px white;
}
.planet{
    height: 300px;
    width: 300px;
    background-image: url("./img/venus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
    animation: planetSpin linear infinite 60s;
}
#house{
    background-image: url("./img/house.png")
}
#car{
    background-image: url("./img/car.png")
}
#wedding{
    background-image: url("./img/wedding.png")
}
#kid{
    background-image: url("./img/kid.png")
}
#parent{
    background-image: url("./img/parent.png")
}
#plane{
    background-image: url("./img/plane.png")
}
#retire{
    background-image: url("./img/retire.png")
}
#company{
    background-image: url("./img/company.png")
}
.list-part{
    margin: 0px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    color: white;
    box-shadow: 0px 0px 3px 3px gold;
    border-radius: 20px;
    opacity: 0;
    transition: all 1s;
}
.side-list{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.list-title{
    font-size: 20px;
    letter-spacing: 2px;
}
.dream-total{
    border-radius: 3px;
    text-align: center;
    border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    color: black;
    margin-left: 15px;
    width: 90px;
}
.basic-information-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    color: white;
    opacity: 0;
    transition: all 1s;
}
.basic-info{
    width: 65%;
    height: 100%;
    box-shadow: 0px 0px 3px 3px plum;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.test-button{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 0px 0px 3px 3px white;
    background: transparent;
    color: white;
}
.basic-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}
