body{
    background: url("./img/space.png");
    background-size:100% 1500px;
    margin:  0px;
    width: 100vw;
    background-attachment:fixed;
    display: flex;
    justify-content:center;
}
button{
    outline:none;
}
.black-background{
    background: rgba(0,0,0,1);
    transition: 1.5s;
    width: 100%;
    height: 1750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1000px){
    .content{
        width: 900px;
    }
    .saying{
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 22px;
    }
    .final-report{
        position: absolute;
        left: 15%;
        width: 70%;
        height: 450px;
        top:125px;
        background: dimgray;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .final-report-content{
        position: relative;
        height: 95%;
        width: 95%;
        border-radius: 50px;
        border:white 1px solid;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .final-title{
        color: white;
        width: 100%;
        font-size: 36px;
        padding-top: 10px;
        text-align: center;
    }
    .final-content{
        color: white;
        width: 70%;
        height: 200px;
        padding-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .final-content-type{
        width: 25%;
        font-size: 36px;
        height: 100%;
        border-radius: 15px;
        color: brown;
        border:2px solid brown;
    }
    .final-content-type-discript{
        width: 70%;
        font-size: 20px;
        color: black;
    }
    .final-content-type-summary{
        padding-top: 20px;
        height: 130px;
        width: 70%;
    }
    .list-title{
        font-size: 20px;
        letter-spacing: 2px;
        border-right: gold solid 1px;
    }
    .basic-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 600px){
    .content{
        width: 500px;
    }
    .list-title{
        font-size: 12px;
        letter-spacing: 2px;
        border-right: gold solid 1px;
    }
    
}
@media screen and (max-width: 600px){
    .content{
        width: 300px;
    }
}
.test-part{
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    box-shadow: 0px 0px 0px 0px greenyellow;
    border-radius: 20px;
    transition: all 1s;
    top: 50px;
    margin-bottom: 50px;
}
.chart-part{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 37%;
    width: 100%;
}
.bar-part{
    position: relative;
    height: 100%;
    width: 70%;
    left: 2%
}
.pie-part{
    position: relative;
    height: 100%;
    width: 30%;
    left: 2%
}
.age-part{
    position: relative;
    display: flex;
    height: 18%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}
.robot{
    position: absolute;
    height: 80%;
    width: 50px;
    left: 5%;
    background: url('./img/robot0.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 1s;
}
.age-ball-part{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    left: calc( 5% + 50px );
    height: 100%;
    width: calc( 95% - 50px);
}
.age-ball{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border:white 1px solid;
}
.money-part{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 45%;
    width: 100%;
}
.money-detail-part{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    left: calc( 5% + 50px );
    height: 100%;
    width: calc( 95% - 50px);
}
.cost-des{
    background: url("./img/costDes.png");
    background-position: center;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.money-detail{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.doctor-part{
    width: 100%;
    height: 100px;/* 高度用到 px */
    display: flex;
    flex-direction: row;
    border-bottom: brown solid 3px;
}
.big-part{
    position: relative;
}
.next-stage-button-place{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.next-button{
    height: auto;
    width: 25%;
    color: white;
    background: black;
    border-radius: 10px;
    border:1px solid white
}
.none-next{
    display: none;
}
.doctor-place{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.doctor{
    background: url("./img/suit.png");
    height: 40%;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: 2s linear;
}
.talk-place{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
    background: url('./img/talk.png') black;
    background-size: 100% 100%;
}
.saying{
    width: 82%;
    height: 85%;
    left: 11%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    background: black;
}

.planet-part{
    width: 100%;
    height: 300px;/* 高度用到 px */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    transition: all 1s;
    top: 50px;
}
.side-planet-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dream-button{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border:0px;
    box-shadow: 0px 0px 5px 1px white;
}
.planet{
    position: relative;
    height: 300px;
    width: 300px;
    background-image: url("./img/venus.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
    animation: planetSpin linear infinite 120s;
}
@keyframes planetSpin{
    to{
        transform:rotate( 360deg)
    }
}
#house{
    position: relative;
    background-image: url("./img/house.png")
}
#house:hover::after{/*小螢幕用 active */
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "房子";
    top: 40px;
    border-radius: 10px;
}
#car{
    position: relative;
    background-image: url("./img/car.png")
}
#car:hover::after{
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "車子";
    top: 40px;
    border-radius: 10px;
}
#wedding{
    position: relative;
    background-image: url("./img/wedding.png")
}
#wedding:hover::after{
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "結婚";
    top: 40px;
    border-radius: 10px;
}
#kid{
    position: relative;
    background-image: url("./img/kid.png")
}
#kid:hover::after{
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "孩子";
    top: 40px;
    border-radius: 10px;
}
#parent{
    background-image: url("./img/parent.png");
    position: relative;
}
#parent:hover::after{
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "父母";
    top: 40px;
    border-radius: 10px;
}
#plane{
    position: relative;
    background-image: url("./img/plane.png")
}
#plane:hover::after{
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "旅遊";
    top: 40px;
    border-radius: 10px;
}
#retire{
    position: relative;
    background-image: url("./img/retire.png")
}
#retire:hover::after{
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "退休金";
    top: 40px;
    border-radius: 10px;
}
#company{
    position: relative;
    background-image: url("./img/company.png")
}
#company:hover::after{
    position: absolute;
    display: block;
    left: 0px;
    height: 20px;
    width: 60px;
    font-size: 16px;
    background: white;
    color: black;
    content: "創業";
    top: 40px;
    border-radius: 10px;
}
.list-part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    color: white;
    box-shadow: 0px 0px 3px 3px gold;
    border-radius: 20px;
    opacity: 0;
    transition: all 1s;
    top: 100px;
}
.side-list{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.list-balls{
    position: relative;
    width: 60%;
}

.dream-total{
    border-radius: 3px;
    text-align: center;
    border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    color: black;
    margin-left: 15px;
    width: 90px;
}
.basic-information-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    color: white;
    opacity: 0;
    transition: all 1s;
    top: 150px;
    margin: 0px 0px 50px 0px;
}
.basic-info{
    width: 65%;
    height: 100%;
    box-shadow: 0px 0px 3px 3px plum;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.test-button{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 0px 0px 3px 3px white;
    background: transparent;
    color: white;
}

.adding-dream{
    width: 100px;
    height: 100px;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.planet-things{
    display: none;
    position: absolute;
}
.house-planet{
    width: 340px;
    height: 340px;
    background: url("./img/house.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50px 35px;
    top:-20px;
    left: -20px;
    z-index: 200;
}
.car-planet{
    width: 340px;
    height: 340px;
    background: url("./img/car.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px 22px;
    top:-20px;
    left: -20px;
    z-index: 100;
    animation: carDriving 15s linear infinite;
}
@keyframes carDriving{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-1turn);
    }
}
@keyframes planeDrive{
    to{
        transform: rotate(1turn);
    }
}
.wedding-planet{
    width: 150px;
    height: 150px;
    background: url("./img/wedding.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50px 50px;
    top:75px;
    left: 75px;
    z-index: 200;
}
.kid-planet{
    width: 260px;
    height: 260px;
    background: url("./img/kid.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 35px 35px;
    top:20px;
    left: 20px;
    z-index: 200;
}
.parent-planet{
    width: 150px;
    height: 150px;
    background: url("./img/parent.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 35px 50px;
    top:75px;
    left: 75px;
    z-index: 200;
}
.plane-planet{
    width: 380px;
    height: 380px;
    background: url("./img/plane.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px 20px;
    top:-40px;
    left: -40px;
    z-index: 200;
    animation: planeDrive 10s linear infinite;
}
.retire-planet{
    width: 150px;
    height: 150px;
    background: url("./img/retire.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50px 50px;
    top:75px;
    left: 75px;
    z-index: 200;
}
.company-planet{
    width: 340px;
    height: 340px;
    background: url("./img/company.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50px 35px;
    top:-20px;
    left: -20px;
    z-index: 200;
}
.dream-ball{
    border-radius: 50%;
    border:1px solid white;
    width: 20px;
    height: 20px;
    right: 150%;
    transition: all 2s linear;
    -webkit-transition: all 2s linear;
    animation: dreamBallSpin 2s linear;
    position: absolute;
    overflow: hidden;
}
@keyframes dreamBallSpin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(1080deg);
    }
}
.house-ball{
    background: url("./img/house.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.car-ball{
    background: url("./img/car.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.wedding-ball{
    background: url("./img/wedding.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.kid-ball{
    background: url("./img/kid.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.parent-ball{
    background: url("./img/parent.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.plane-ball{
    background: url("./img/plane.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.retire-ball{
    background: url("./img/retire.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.company-ball{
    background: url("./img/company.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
